.postHeader {
    border: var(--main) 1px solid;
    border-radius: 5px 5px 0 0;
    border-bottom:none;
    margin-top:0;
    margin-bottom: 0;
    padding: .5rem;
    background-color: var(--main);
    color: var(--secondry);
    
}

.postBody {
    border: var(--main) 1px solid;
    border-top:none;
    border-radius: 0 0 5px 5px;
    margin-bottom:.5rem ;
    margin-top: 0;
    padding: 1rem;
    font-size: 1.2rem;
    text-align: justify;
    background-color: rgba(180, 180, 180, 0.055);
}